.container {
    height: 730px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formcontainer {
    width: 100;
    background-color: cadetblue;
    padding: 3rem;
    border-radius: 10px;
    align-items: center;
    color: white;
    font-weight: bold;
}

input {
    border-radius: 10px;
}

.btn {
}